In [239]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import stock_module as sm
import random
import os
import datetime

In [2]:
os.getcwd()

'/Users/mturan/Desktop/Scripts/stock_analysis'

In [5]:
all_stock_value = pd.read_pickle("stocks_values_pivot")

In [13]:
financials = pd.read_pickle("all_financials")

In [15]:
stock_names = sm.get_stock_names()

In [10]:
all_stock_value.head()

HGDG_HS_KODU,ACSEL,ADANA,ADBGR,ADEL,ADESE,ADNAC,AEFES,AFYON,AGHOL,AGYO,...,YESIL,YGGYO,YGYO,YKBNK,YKGYO,YKSLN,YONGA,YUNSA,YYAPI,ZOREN
HGDG_TARIH,,,,,,,,,,,,,,,,,,,,,
2001-01-02,NaN,0.0541,0.0298,0.1877,NaN,0.0168,1.3674,0.1364,0.6294,NaN,...,NaN,NaN,0.2865,0.4893,0.625,NaN,NaN,0.2961,2.6938,0.4790
2001-01-03,NaN,0.0522,0.0298,0.1901,NaN,0.0161,1.3272,0.1364,0.6218,NaN,...,NaN,NaN,0.2865,0.4684,0.625,NaN,NaN,0.2823,2.7446,0.4715
2001-01-04,NaN,0.0581,0.0323,0.2132,NaN,0.0185,1.5283,0.1515,0.7356,NaN,...,NaN,NaN,0.2935,0.5173,0.700,NaN,NaN,0.3167,3.1004,0.4940
2001-01-05,NaN,0.0571,0.0315,0.2132,NaN,0.0173,1.5082,0.1446,0.7432,NaN,...,NaN,NaN,0.2865,0.5173,0.675,NaN,NaN,0.3305,3.0496,0.4790
2001-01-08,NaN,0.0610,0.0331,0.2155,NaN,0.0182,1.5484,0.1515,0.7735,NaN,...,NaN,NaN,0.2551,0.5732,0.725,NaN,NaN,0.3305,3.1512,0.5015

In [250]:
all_operatingProfits = sm.ratio_for_all_stocks("ebitda_margin", "12")

In [251]:
all_operatingProfits

,CEMAS,AFYON,BNTAS,MRGYO,ADEL,TKFEN,IHLAS,AKMGY,MAVI,BSOKE,...,PEGYO,ASUZU,INFO,GOZDE,CUSAN,CLEBI,AKFGY,UNYEC,TSGYO,GSDHO
2009/12,0.020202,-0.039325,NaN,0.438927,0.280200,0.085915,0.115326,0.622937,NaN,0.049066,...,0.097221,-0.048399,0.000818,NaN,NaN,0.315863,0.632618,0.348635,0.295205,inf
2010/12,0.024416,0.050573,NaN,0.156379,0.283914,0.131985,0.057137,0.571512,NaN,0.124512,...,-0.128267,0.021081,0.002768,0.065562,NaN,0.224903,0.674250,0.314448,0.151146,inf
2011/12,0.084746,-0.072979,NaN,0.115993,0.286435,0.119216,-0.044467,0.654635,NaN,0.121223,...,0.012230,0.058568,0.004103,-15.962769,NaN,0.166650,0.613647,0.338136,0.429280,inf
2012/12,-0.054449,-0.106983,0.161191,0.090870,0.262873,0.065674,0.004873,0.677400,NaN,0.071760,...,0.102927,0.028141,0.001697,-1.773789,0.103410,0.154406,0.496668,0.337159,0.528436,inf
2013/12,0.037583,0.100948,0.138944,0.264924,0.241098,-0.006245,-0.059707,0.692887,NaN,0.206487,...,0.086247,0.060535,0.008582,-inf,0.119897,0.176865,0.702773,0.316682,0.513247,-7.529674
2014/12,0.011238,0.247509,0.112182,0.263336,0.255531,0.064043,-0.087783,0.708287,0.119612,0.319856,...,0.288005,0.064560,0.002152,-253.996414,0.133293,0.191934,0.774048,0.339788,0.443616,inf
2015/12,-0.020524,0.213868,0.102609,0.343107,0.217459,0.062351,-0.218664,0.709668,0.128619,0.269456,...,0.258774,0.071394,0.006416,-0.119534,0.130182,0.209149,0.731932,0.295645,0.408946,0.300130
2016/12,0.034033,0.054462,0.100908,-0.172645,0.243657,0.099493,0.092332,0.724137,0.129888,0.143273,...,0.374780,0.037589,0.000035,0.104641,0.149680,0.137849,0.685153,0.313414,0.420899,0.662272
2017/12,0.022318,0.307553,0.062466,0.229335,0.223085,0.105988,0.033476,0.698367,0.140779,0.092013,...,0.219303,0.038074,0.000215,-0.257879,0.053743,0.197862,0.722095,0.248116,0.458949,1.088584
2018/12,0.070807,0.317755,0.127199,0.575982,0.220866,0.120976,0.083555,0.718314,0.155122,0.196086,...,0.069481,0.082991,0.026336,-1.305808,0.023202,0.252811,0.720362,0.171111,0.465002,1.171680
2008/12,NaN,0.006963,NaN,0.444509,0.283119,0.098017,0.049941,0.682325,NaN,0.115837,...,-inf,0.045414,NaN,NaN,NaN,0.277516,NaN,0.411080,NaN,inf

In [252]:
all_operatingProfits = all_operatingProfits.dropna(axis=1)

In [253]:
all_operatingProfits = all_operatingProfits.reset_index()
all_operatingProfits = all_operatingProfits.sort_values(by="index")
all_operatingProfits = all_operatingProfits.tail(7)
all_operatingProfits

,index,AFYON,MRGYO,ADEL,TKFEN,IHLAS,AKMGY,BSOKE,CMENT,TCELL,...,ANACM,LOGO,ATAGY,CELHA,ISMEN,PEGYO,ASUZU,CLEBI,UNYEC,GSDHO
3,2012/12,-0.106983,0.090870,0.262873,0.065674,0.004873,0.677400,0.071760,0.116013,0.300883,...,0.188991,0.383920,0.011722,0.048327,0.003441,0.102927,0.028141,0.154406,0.337159,inf
4,2013/12,0.100948,0.264924,0.241098,-0.006245,-0.059707,0.692887,0.206487,0.158011,0.300779,...,0.141244,0.383391,-3.644275,0.098725,0.002251,0.086247,0.060535,0.176865,0.316682,-7.529674
5,2014/12,0.247509,0.263336,0.255531,0.064043,-0.087783,0.708287,0.319856,0.185212,0.304201,...,0.159253,0.380889,-0.273753,0.087808,0.001902,0.288005,0.064560,0.191934,0.339788,inf
6,2015/12,0.213868,0.343107,0.217459,0.062351,-0.218664,0.709668,0.269456,0.157792,0.322610,...,0.184738,0.417045,0.230083,0.042700,0.001380,0.258774,0.071394,0.209149,0.295645,0.300130
7,2016/12,0.054462,-0.172645,0.243657,0.099493,0.092332,0.724137,0.143273,0.123338,0.324316,...,0.185809,0.452321,0.195976,0.083504,0.002113,0.374780,0.037589,0.137849,0.313414,0.662272
8,2017/12,0.307553,0.229335,0.223085,0.105988,0.033476,0.698367,0.092013,0.089612,0.363350,...,0.224922,0.322546,0.366413,0.111767,0.004990,0.219303,0.038074,0.197862,0.248116,1.088584
9,2018/12,0.317755,0.575982,0.220866,0.120976,0.083555,0.718314,0.196086,0.035664,0.447003,...,0.233688,0.315344,0.179000,0.136522,0.008246,0.069481,0.082991,0.252811,0.171111,1.171680

In [336]:
del all_operatingProfits["index"]

In [337]:
stock_names = list(all_operatingProfits)

In [338]:
results = []
for stock in stock_names:
    test = 0
    for i in all_operatingProfits[str(stock)]:
        if i > 0:
            test += 1
    results.append(test)

In [339]:
positive_returns_counts = results

In [340]:
len(positive_returns_counts)

241

In [341]:
results = []
for stock in stock_names:
    stock_WealthIndex = sm.wealth_index(str(stock), "31-03-2015", "31-12-2018")
    ret = list(stock_WealthIndex["Wealth_Index"])[-1] - 1
    results.append(ret)

In [342]:
returns = results

In [343]:
len(returns)

241

In [344]:
returns_wealths = pd.DataFrame(returns, positive_returns_counts)

In [345]:
returns_wealths = returns_wealths.reset_index()

In [346]:
returns_wealths.head(2)

   index        0
0      6  0.13826
1      6  0.60000

In [347]:
returns_wealths.corr()

          index         0
index  1.000000  0.118639
0      0.118639  1.000000