In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import stock_module as sm
import random
import os
import datetime
import time

In [888]:
turnover_filter = sm.filter_financials(["turnover"], 12, 3, 2)

Reference year to move back: 2017/12

In [889]:
gpm_filter = sm.filter_financials(["gross_profit_margin"], 12, 2, 2)

Reference year to move back: 2017/12

In [890]:
cash_ratio_filter = sm.filter_financials(["cash_ratio"], 12, 1, 2)

Reference year to move back: 2017/12

In [891]:
roa_filter = sm.filter_financials(["roa"], 12, 1, 2)

Reference year to move back: 2017/12

In [892]:
u = set.intersection(
                     set(turnover_filter),
                     set(gpm_filter),
                     # set(netProfit_filter),
                     # set(current_ratio_filter),
                     # set(assetTurnover_filter),
                     set(roa_filter),
                     set(cash_ratio_filter)
                     # set(networth_base_filter)
                    )

In [893]:
u

{'BRKSN',
 'EGGUB',
 'EPLAS',
 'KARTN',
 'MZHLD',
 'SISE',
 'SODSN',
 'SONME',
 'SUMAS',
 'TBORG',
 'ULKER'}

altmans = []
for stock_name in u:
    try:
        altmans.append(sm.altman(stock_name, term="2018")["AltmanScore"])
    except:
        altmans.append(0)

df = pd.DataFrame(list(zip(u, altmans)), 
               columns =['Name', 'Altmans'])

u = df.loc[df.Altmans>3]["Name"]

In [478]:
returns = []
for stock_name in u:
    returns.append(list(sm.wealth_index(stock_name, "31-03-2019","30-06-2020")["Wealth_Index"])[-1])

In [479]:
returns = [ret for ret in returns if str(ret) != 'nan']

In [480]:
sum(returns) / len(returns)

2.826377257652182

In [481]:
1.0218017380293969 * 1.2806018226502127 * 1.462673781261397 * 1.0306601031342062 * 2.826377257652182

5.575371670771739

In [878]:
stock_name = "RTALB"

In [879]:
ratio = "ebitda"

In [880]:
pd.DataFrame(sm.ratio_calculation(stock_name, ratio, term = "12")).pct_change()

           ebitda
2011/12       NaN
2012/12  0.156751
2013/12  0.727608
2014/12 -0.173315
2015/12  0.483310
2016/12 -0.539039
2017/12  0.258660
2018/12 -2.566273
2019/12 -0.503506

In [881]:
sm.wealth_index(stock_name, "31-03-2016", "30-06-2017")

           Date  Wealth_Index
4786 2016-04-01      0.988391
4787 2016-04-04      0.993755
4788 2016-04-05      0.987510
4789 2016-04-06      0.968736
4790 2016-04-07      1.000920
...         ...           ...
5093 2017-06-21      0.911533
5094 2017-06-22      0.918697
5095 2017-06-23      0.915096
5096 2017-06-28      0.911533
5097 2017-06-29      0.900805

[312 rows x 2 columns]

In [887]:
pow(1.2,30)

237.37631379976955

In [240]:
stockNames = sm.get_stock_names()

In [531]:
values = []
for stock_name in l:
    try:
        values.append(list(sm.wealth_index(stock_name, "31-03-2018", "30-06-2019")["Wealth_Index"])[-1])
    except:
        values.append(np.nan)

In [532]:
df = pd.DataFrame(list(zip(l, values)), 
               columns =['stockNames', 'values'])

In [533]:
df = df.dropna()

In [766]:
df.sort_values(by=["values"], ascending=False).iloc[:20,:]

KeyError: 'values'